.doctor {

    &__container {
        margin-bottom: 166px;
    }

    &__heading {
        color:#424242;;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 75px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 28px;    
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    &__head {
        color: #424242;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px; 
        margin-bottom: 2px;   
    }

    &__text {
        color: #1C1E23;        
        opacity: 0.8;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 23px;
    }

    &__img {
        margin-bottom: 20px;
    }

    @media only screen and (max-width: 1000px) {
        &__container {
            display: flex;
            justify-content: center;
            margin-bottom: 166px;
        }
    
        &__heading {
            color:#424242;;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 51px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 28px;     
        }
    
        &__list {
            max-width: 694px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;
            flex-wrap: wrap;
            gap: 81px;
            margin: 0;
            padding: 0;
        }
    
        &__head {
            color: #424242;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 2px;    
        }
    
        &__text {
            color: #1C1E23;        
            opacity: 0.8;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 23px;
        }

        &__img {
            margin-bottom: 20px;
        }
    }

    @media only screen and (max-width: 768px) {
        &__container {
            display: flex;
            justify-content: center;
            margin-bottom: 166px;
        }
    
        &__heading {
            color:#424242;;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 51px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 28px;     
        }
    
        &__list {
            max-width: 694px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;
            flex-wrap: wrap;
            gap: 73px;
            margin: 0;
            padding: 0;
        }
    
        &__head {
            color: #424242;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 28px;   
            margin-bottom: 2px;
        }
    
        &__text {
            color: #1C1E23;        
            opacity: 0.8;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 23px;
        }

        &__img {
            margin-bottom: 20px;
        }
    }

    @media only screen and (max-width: 480px) {
        &__container {
            display: flex;
            justify-content: center;
            margin-bottom: 166px;
        }
    
        &__heading {
            color:#424242;;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 51px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;    
        }
    
        &__list {
            max-width: 360px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;
            flex-wrap: wrap;
            gap: 42px;
            margin: 0;
            padding: 0;
        }
    
        &__head {
            color: #424242;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 26px;  
        }
    
        &__text {
            width: 152px;
            color: #1C1E23;        
            opacity: 0.8;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 23px;
        }

        &__img {
            margin-bottom: 6px;
            width: 159px;
            height: auto;
        }
    }

    @media only screen and (max-width: 320px) {
        &__container {
            display: flex;
            justify-content: center;
            margin-bottom: 80px;
        }
    
        &__heading {
            color:#424242;;
            text-align: center;
            margin-top: 80px;
            margin-bottom: 40px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px; 
        }
    
        &__list {
            max-width: 180px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            list-style-type: none;
            flex-wrap: wrap;
            gap: 50px;
            margin: 0;
            padding: 0;
        }

        &__item {
            text-align: center;
        }
    
        &__head {
            color: #424242;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 26px;  
        }
    
        &__text {
            width: 152px;
            color: #1C1E23;        
            opacity: 0.8;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 19px;
        }

        &__img {
            margin-bottom: 14px;
            width: 159px;
            height: auto;
        }
    }
}