.what {
    
    &__heading {
        text-align: center;
        margin-bottom: 75px;
        margin-top: 175px;
        color: #424242;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 28px;
    }
    
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    &__item-one {
        width: 380px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 40px;
        padding-left: 30px;
        padding-bottom: 12px;
        padding-right: 15px;
        box-shadow: 0px 10px 10px #F0F0F0;
        background-image: url(../img/01.png);
        background-repeat: no-repeat;
        background-position: right 26px bottom 22px;
    }
    
    &__item-two {
        width: 380px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 40px;
        padding-left: 31px;
        padding-bottom: 70px;
        padding-right: 21px;
        background-color: #B7ECB1;
        background-image: url(../img/02.png);
        background-repeat: no-repeat;
        background-position: right 22px top 38px;
    }
    
    &__item-three {
        width: 380px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-top: 28px;
        padding-left: 32px;
        padding-bottom: 84px;
        padding-right: 21px;
        box-shadow: 0px 10px 10px #F0F0F0;
        background-image: url(../img/03.png);
        background-repeat: no-repeat;
        background-position: right 18px bottom 28px;
    }
    
    &__head {
        margin-bottom: 30px;
        color: #424242;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 26px;
    }
    
    &__text {
        width: 327px;
        color: #1C1E23;
        opacity: 0.8;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
    }
    
    
    @media only screen and (max-width: 1000px) {
        &__heading {
            text-align: center;
            margin-bottom: 50px;
            margin-top: 140px;
            color: #424242;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 28px;
        }
        
        &__list {
            max-width: 965px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            
        }
        
        &__item-one {
            max-width: 299px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding-top: 45px;
            padding-left: 24px;
            padding-bottom: 34px;
            padding-right: 0px;
            box-shadow: 0px 10px 10px #F0F0F0;
            background-image: url(../img/01.png);
            background-repeat: no-repeat;
            background-position: right 4px bottom 11px;
        }
        
        &__item-two {
            max-width: 299px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding-top: 45px;
            padding-left: 25px;
            padding-bottom: 64px;
            padding-right: 16px;
            background-color: #B7ECB1;
            background-image: url(../img/02.png);
            background-repeat: no-repeat;
            background-position: right 22px top 38px;
        }
        
        &__item-three {
            max-width: 299px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding-top: 27px;
            padding-left: 25px;
            padding-bottom: 75px;
            padding-right: 0px;
            box-shadow: 0px 10px 10px #F0F0F0;
            background-image: url(../img/03.png);
            background-repeat: no-repeat;
            background-position: right 7px bottom 2px;
        }
        
        &__head {
            margin-bottom: 30px;
            color: #424242;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
        }
        
        &__text {
            width: 259px;
            color: #1C1E23;
            opacity: 0.8;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 17px;
        }
    }
    
    @media only screen and (max-width: 768px) {
        &__heading {
            text-align: center;
            margin-bottom: 50px;
            margin-top: 100px;
            color: #424242;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 28px;
        }
        
        &__list {
            max-width: 642px;
            width: 100%;
            display: flex;
            list-style-type: none;
            margin: 0 auto;
            padding: 0;
            height: 600px;
            gap: 30px;
            flex-direction: column;
        }
        
        &__item-one {
         
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            max-width: 642px;
            height: 142px;
            padding: 0;
            padding-left: 221px;
            margin: 0 auto;
            box-shadow: 0px 10px 10px #F0F0F0;
            background-image: url(../img/01.png);
            background-repeat: no-repeat;
            background-position: left 4px center;
            
        }
        
        &__item-two {
            width: 642px;
            padding-left: 100px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding-top: 45px;
            padding-left: 25px;
            padding-bottom: 64px;
            padding-right: 16px;
            background-color: #B7ECB1;
            background-image: url(../img/02.png);
            background-repeat: no-repeat;
            margin: 0 auto;
            background-position: left 2px top 38px;
        }
        
        &__item-three {
            max-width: 642px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding-top: 27px;
            padding-left: 25px;
            padding-bottom: 75px;
            padding-right: 0px;
            box-shadow: 0px 10px 10px #F0F0F0;
            background-image: url(../img/03.png);
            background-repeat: no-repeat;
            background-position: right 7px bottom 2px;
        }
        
        &__head {
            max-width: 421px;
            margin-bottom: 30px;
            color: #424242;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 26px;
        }
        
        &__text {
            width: 421px;
            color: #1C1E23;
            opacity: 0.8;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 17px;
            padding-left: 6px;
            right: 0;
        }
    }
}
.setse{
    position: absolute;
    left: 294px;
    top: 9px;
}
.setse3{
    position: absolute;
    right: 0;
    width: 100px;
}